/* Set background */
html {
  background-color: peachpuff;
  width: 100%;
}


/* styles for the body of the site */
body {
  width: 100%;

}

img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  opacity: 0.75;

}

/* styles for banner */
.bannertext {
  background-color: rgba(70,139,204, 0.4);
  color: white;
  border: 10px solid #f1f1f1;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 20px;
  text-align: center;
}






/* styles for subheadline */
h2 {
  color: white;
}

/* styles for paragraph */
p {
    color: black;
}


